# Entire build directory
docs/build/

# Temporary build artifacts
docs/source/static/reports/*.pdf
docs/source/static/snippets/*.png

# Mac OSX
.DS_Store

# Other random folder that should not be tracked
tmp/
env/