/* Make sure that links don't change color after clicking on them */
div.wy-nav-content a:visited {
    color: #2980B9;
}

div.version a:visited, div.version a{
    color: white;
}

/* Set the width of the main content */
.wy-nav-content {
    max-width: 1250px !important;
}